<%- include("partials/header") %>  
<div id="start-game">
    <form id="submit-form">
       <h2 id="follow-game-progress"></h2>
       <label for="mysterious">Entrer un nombre entre 0 et 500</label>
       <input type="number" id="mysterious" required/>
       <button>Valider</button>
    </form>
</div>
<%- include("partials/footer") %>  