<%- include("partials/header") %>  
<!--<h2 id="init-tittle">Donne un nombre entre 1 et 500 : </h2>-->
        <div id="pre-game">
            <h2 id="new-game">Nouvelle partie</h2>
               <button>Commencer</button>
        </div>
<%- include("partials/footer") %> 